.nav__wrapper {
  background-image: url(assets/Cover.png);
  height: 240px;
  width: 100%;
  max-width: 1190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-top: 180px;
  
}

.nav__link:hover {
  text-decoration: underline;
}


.nav__link {
  text-decoration: none;
  padding: 20px;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.header__date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 50px;
}

.para__description {
  font-size: 26px;
  padding-left: 40px;
  
}

.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  padding-top: 48px;
}



.credits {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
}

.sponsor__thanks {
  font-size: 26px;
  padding: 24px 40px;
}

.header__thanks {
  display: flex;
  justify-content: center;
}

.contact {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 60px;
}

.contact__deets {
  margin: 18px 0;
}

.header__information {
  text-align: center;
}

.information {
  font-size: 22px;
  padding: 40px;
  text-align: center;
}

.promo__photo {
  height: 600px;
  width: 100%;
  max-width: 1400px;
}


@media (max-width: 1240px) {
  .promo__photo {
    height: 500px;
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .promo__photo {
    height: 470px;
    width: 100%;
  }
}

@media (max-width: 920px) {
  .promo__photo {
    height: 440px;
    width: 100%;
  }
}


@media (max-width: 800px) {
  .promo__photo {
    height: 410px;
    width: 100%;
  }
}

@media (max-width: 670px) {
  .promo__photo {
    height: 380px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .promo__photo {
    height: 340px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .promo__photo {
    height: 310px;
    width: 100%;
  }
}

@media (max-width: 380px) {
  .promo__photo {
    height: 280px;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .promo__img {
    height: 500px;
    width: 500px;
  }

  .credits {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .promo__img {
    height: 480px;
    width: 480px;
  }

.information {
  font-size: 18px;
}

.nav__link {
  font-size: 18px;
}

  .credits {
    font-size: 18px;
  }
}

@media (max-width: 486px) {
  .promo__img {
    height: 400px;
    width: 400px;
  }

  .credits {
    font-size: 16px;
  }

  .nav__link {
    font-size: 16px;
  }
}

@media (max-width: 416px) {
  .promo__img {
    height: 375px;
    width: 375px;
  }

  .credits {
    font-size: 14px;
  }

  .nav__link {
    font-size: 14px;
  }
}

@media (max-width: 376px) {
  .promo__img {
    height: 330px;
    width: 330px;
  }

  .credits {
    font-size: 14px;
  }

  .nav__link {
    font-size: 12px;
  }
}